# Flutter / Dart
/build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
crash_log.txt
crash_only.txt
flutter_log*.txt

# Secrets
google-services.json
GoogleService-Info.plist
.env
.env.*
serviceAccountKey.json